* {
  box-sizing: border-box;
}

body {
  background-color: #1ad477;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Cambria", "sans-serif";
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  background-color: #444451;
  height: 20px;
  width: 20px;
  margin: 3px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-top: 1px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
}
.kursi {
  background-color: #444451;
  height: 20px;
  width: 20px;
  margin: 3px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-top: 1px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
}
.kursi:nth-of-type(1) {
  margin-right: 22px;
}
.seat.selected {
  background-color: #1bb45b;
}

.seat.occupied {
  background-color: #3050e0;
}
.seat.occupied:hover {
  cursor: pointer;
  transform: scale(1.3);
}
.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.3);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1.1);
}

.showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 10px;
}

.row {
  display: flex;
}
.screen h1 {
  transform: rotateX(-45deg);
  font-family: cambria;
  color: #242333;
  text-align: center;
  margin: auto;
}
p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}
.submit {
  padding-top: 25px;
}
.submit :hover {
  cursor: pointer;
}
.text {
  font-size: 20px;
}
.name {
  padding-top: 10px;
  text-align: center;
  color: black;
  font-family: " sans-serif";
}
